main {
  background-color: #c45658;
  background-image: linear-gradient(225deg, #c45658 0%, #583046 61%);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0D8060;
  width: 600px;
  height: 600px;
  border-radius: 0 50px 50px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.inicio {
  background-image: linear-gradient(225deg, #c45658 0%, #583046 61%);
  border-radius: 50px 0px 0px 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

form {
  width: 500px;
}

.form-control,
.input-group-text {
  border-radius: 15px;
}

.input-group-text{
  background-color: #583046;
  color: white;
  border: none;
}

.boton {
  border-radius: 15px;
  background-image: linear-gradient(225deg, #c45658 0%, #583046 61%);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 17px;
  height: 5vh;
  width: 20vh;
}

.boton:hover {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
  text-decoration: underline;
}

@media only screen and (max-width: 1400px) {
  
  .formulario {
    width: 400px;
    height: 400px;
  }

  form {
    width: 300px;
  }

}

@media only screen and (max-width: 990px) {
  
    .container{
        margin-top: 5%;
        margin-bottom: 5%
    }

  .formulario {
    border-radius: 0px 0px 50px 50px;
  }

  .inicio {
    border-radius: 50px 50px 0px 0px;
  }

}

@media only screen and (max-width: 400px) {

  p{
    font-size: 15px;
  }

}

