body {
  background-image: linear-gradient(225deg, #c45658 0%, #583046 61%);
  color: white;
}

.mapa {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#map {
  border-radius: 50px;
}

.marker {
  background-image: url("../IMG/usuario.jpg");
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.redes {
  display: flex;
  align-items: center;
  padding-left: 3%;
  background-color: #0d8060;
  width: 300px;
  height: 100px;
  border-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-size: 8vh;
}

.redes a{
    color: white;
    padding-left: 10%;
}

.redes a:hover{
    color: #583046;
}