main {
  background-color: #c45658;
  background-image: linear-gradient(225deg, #c45658 0%, #583046 61%);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.navbar{
  background-color: #0D8060;
}

.img-perfil {
  object-fit: cover;
  border-radius: 50%;
}

.img-modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cuerpo {
  margin-left: 5%;
  margin-right: 3%;
  margin-bottom: 3%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #0D8060;
  margin-top: 5%;
  margin-left: 6.3%;
  padding-bottom: 2%;
}

.card-block {
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: rgb(148, 28, 28);
  margin-top: 5%;
  margin-left: 6.3%;
  padding-bottom: 2%;
}

.checkBorrar {
  text-align: right;
  margin-right: 5%;
  margin-top: 5%;
}

.invisible{
  display: none;
}
  
.paginacion a {     
  font-size:12px;
  margin-left: 0.2%;;
  background-color: #0D8060;
  border-color: #0D8060;
}

.subMenu{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #583046;
  margin-top: 1%;
  padding: 1%;
  border-radius: 15px;
}

.boton{
  background-color: #0D8060;
  color: white;
}

.boton:hover{
  background-color: white;
  color: #0D8060;
}

